/* SVG */
svg {
    border: 1px solid black;
}

div.svg-container {
    width: 100%;
    height: 200px;
}

circle {
    r: 3px;
    fill: black;
}

/* color for each tense */
.t-imp {
    color: blue;
}
.t-past {
    color: skyblue;
}
.t-fut {
    color: red;
}
.t-pres {
    color: orange;
}

/* special color for Conditional Mood */
.m-cnd {
    color: green;
}


/* quotes in italic */
q {
    font-style: italic;
}
q em.verb {
    font-style: italic;
}
q em.aux {
    font-style: italic;
}

/* verbs in bold, auxiliaries normal weigth */
.verb {
    font-weight: bold;
    font-style: normal;
}
.aux {
    font-weight: normal;
    font-style: normal;
}

body div {
    max-width: 400px;
    align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    /* font: 1.2 em "Times", serif; */
    font-family: Arial;
}
