/* verbs in bold, auxiliaries normal weigth */
.verb {
    font-weight: bold;
    font-style: normal;
}
.aux {
    font-weight: normal;
    font-style: normal;
}

/* color for each tense */
.t-imp {
    color: blue;
}
.t-past {
    color: skyblue;
}
.t-fut {
    color: red;
}
.t-pres {
    color: orange;
}

/* special color for Conditional Mood */
.m-cnd {
    color: green;
}


/* quotes in italic */
q {
    font-style: italic;
}
q em.verb {
    font-style: italic;
}
q em.aux {
    font-style: italic;
}

body div.text {
    max-width: 400px;
    align: center;
    margin-left: auto;
    margin-right: auto;
}

body div.indexes {
    align: left;
    width: 95%
}

/* simple text font */
p {
    font-family: Arial;
}

/* paragraph numbering */
p:before {
  content: "" attr(id) ""; 
  font-size: 80%;
  color: lightgrey;
  padding-right: 2px;
}

body {
    width: 100%;
    padding: 0px;
}

/* navigation bar */
nav {
    position:fixed;
    top:50%;
    left: 0;
    width: auto;
    background-color: transparent;
    border: 1px solid black;
    padding-left: 0px;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul {
    padding: 5px;
    margin: 5px;
}

h1 {
    color: skyblue;
    font-family: Helvetica;
}
h1 i {
    color: red;
    font-family: Times;
}
